@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


/* vars */
$nav-width: 100px;
$base-font-size: 16px;
$base-line-height: ($base-font-size * 2);
$spacing-unit: $base-line-height;


/* base styles */
* {
  font-family: 'Julius Sans One', 'Kano', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

@keyframes move {
  0% {
    left: 100%;
  }
  10% {
    left: 90%;
  }
  20% {
    left: 80%;
  }
  30% {
    left: 70%;
  }
  40% {
    left: 60%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 40%;
  }
  70% {
    left: 30%;
  }
  80% {
    left: 20%;
  }
  90% {
    left: 10%;
  }
  100% {
    left: 2%;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes top {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#user-nav {
  opacity: 0.8;
  background-color: white;
  color: white;
  width: 100%;
  position: fixed;
}

#user-nav .title {
  display: inline-flex;
  font-size: 50px;
  padding-top: 30px;
  padding-left: 10px;
  background-color: white;
  color: black;
}

.queuer {
  position: relative;
  bottom: .75em;
  left: 1em;
}

.queuer1 {
  animation: move 2.5s linear 1;
}

.queuer2 {
  animation: move 3s linear 1;
}

.queuer3 {
  animation: move 3.25s linear 1;
}

.triangle {
  width: 2.5%;
  height: 2.5%;

  animation: spin 8s 1;
}

.triangle2 {
  animation-delay: .25s;
}

.triangle3 {
  animation-delay: .75s;
}

.search-bar, .location-bar{
  display: inline-flex;
  color: black;
  width: 50%;
}

.line {
  height: 2px;
  background: black;
}

.line1 {
  animation: top 5s 1 forwards;
}

.line2 {
  right: 0;
  top: 0;
  animation: bottom 3.5s 1 forwards ;
}

.search-bar input {
  width: 100%;
}

.location-bar input {
  width: 100%;
}

#user-container {
  margin-top: 15%;
}

.user-headers {
  width: 100%;
}

.list-table {
  width: 100%;
}